[project]
	description = FI.d is FIRE-ICE's boot up scripts that can do many cool things!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/USBhost
[access "refs/for/refs/*"]
	read = group user/USBhost
	push = group user/USBhost
	label-Code-Review = -2..+2 group user/USBhost
	label-Verified = -1..+1 group user/USBhost
	rebase = group user/USBhost
	removeReviewer = group user/USBhost
	submit = group user/USBhost
[access "refs/heads/*"]
	read = group user/USBhost
	create = group user/USBhost
	push = +force group user/USBhost
	pushMerge = group user/USBhost
[access "refs/tags/*"]
	push = group user/USBhost
	push = +force group user/USBhost
